.filters {
    display: flex;
    border: 1px solid #dddddd;
    border-radius: 4px;
    position: relative;
    background: #ffffff;
    height: 70px;
    width: calc(100% - 2 * 1px - 2 * 10px);
    align-items: center;
    margin: 0 10px;
}
.filters > button {
    position: absolute;
    color: #ffffff;
    background-color: #FF5A5F;
    border: none;
    border-radius: 4px;
    right: 30px;
    width: 20%;
    height: 48px;
    font-size: 18px;
}
.filters > button:hover {
    opacity: 0.9;
}
.filters > .locations {
    border-right: 1px solid #DDDDDD;
}
.filters > .amenities,
.filters > .locations {
    display: grid;
    position: relative;
    width: 25%;
    height: 100%;
    grid-template-rows: calc(50% - 5px) calc(50% - 5px);
    align-items: center;
    padding: 0;
}
.filters > .locations > h3,
.filters > .amenities > h3 {
    font-weight: 600;
    padding: 30px 5px 5px 50px;
}
.filters > .locations > h4,
.filters > .amenities > h4 {
    font-weight: 400;
    padding: 10px 5px 5px 50px;
    font-size: 14px;
}
/*.filters > .locations:hover,
.filters > .amenities:hover {
    background-color: #FAFAFA;
}*/
.filters > .locations:hover > .popover,
.filters > .amenities:hover > .popover {
    display: block;
}
.filters > .locations > .popover,
.filters > .amenities > .popover {
    display: none;
    position: absolute;
    list-style-type: none;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    background-color: #FAFAFA;
    width: calc(100% - 60px);
    top: 56px;
    padding: 0;
}
.filters > .amenities >.popover > li {
    padding-left: 50px;
}
.filters > .amenities >.popover, 
.filters > .locations > .popover {
    padding-top: 15px;
    padding-right: 60px;
    padding-bottom: 30px;
}
.filters>.locations>.popover > li > h2 {
    font-size: 16px;
    margin-left: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
}
.filters>.locations>.popover>li>ul {
    list-style-type: none;
    margin: 0;
    padding-left: 50px;
}